<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
 <a href= "{% url 'home' %}" class="btn btn-secondary btn-lg" >Home </a> 
<div class="container text-center">
<h1><b> About </b></h1>
<body> This website is made by Ralphie Perez. I'm working on developing Django applications and on my portfolio. Please enjoy!
<br>
<br>
<h4> Contact me </h4>
<a href="https://www.linkedin.com/in/ralphie00/">My Linkedin
<br>

<a href="https://github.com/ralphiecodes">My GitHub
</body>
<br> <br>


</div>